body {
  margin: 0;
  padding: 0;
}

.lolo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.loginMain {
  border: 3px solid black;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

input{
  outline: none;
}
