:root {
  --buttonColor : red;
  --inputTypeColor: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
}

/* hello lolo */

.LoginFullPage {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.loginMain {
  box-shadow: 0px 0px 10px;
  width: 250px;
  height: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.loginMain input {
  border: none;
  outline: none;
  height: 25px;
  background: var(--inputTypeColor);
  border-radius: 3px;
  width: 227px;
  border-radius: 5px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
}

.loginForm button {
  width: 100%;
  border: none;
  height: 25px;
  border-radius: 7px;
  background-color: var(--buttonColor);
  color: white;
  cursor: pointer;
}




.logoutButton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.logoutButton a{
  font-size: 12px;
  text-decoration: none;
  color : black;

}



input {
  outline: none;
}
