.mainProductsDiv {
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.mainProductsDiv :hover {
  /* background-color: rgb(172, 181, 206); */
  scale: 103%;
  transition: .3s;
}
.productDiv {
  width: 240px;
  padding: 10px 10px;
  /* background-color: rgb(231, 243, 243); */
  /* margin-block-end: 30px; */
  border-radius: 4px;
  margin: 20px 10px;
  /* overflow: hidden; */
  height: 399px;
  display: flex;
  flex-direction: column;
  box-shadow:0px 0px 20px -1px;
}

.imageDiv {
  /* width: 100%; */
  height: 180%;
  margin: auto 15%;
}

.productDiv img {
  width: 60%;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(87, 86, 192);
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* .add_to_cart {
  display: flex;
  justify-content: center;
  align-items: center;
color: white;
  border-radius: 4px;
  background-color: teal;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin-block-end: 20px;
  cursor: pointer;
} */

.InterestedButton button{
display: flex;

}
.InterestedButton button{
  width: 365%;
    height: 29px;
    border: none;
}

.ProductNamePrice{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}
.ProductNamePrice h6{
  color: green;
}

h2 {
  /* display: flex;
   justify-content: center;
   align-items: center; */
  text-transform: uppercase;
  word-wrap: break-word;
}
p {

  font-size: 15px;
  text-transform: capitalize;
  word-wrap: break-word;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  /* margin-top: px; */
}

.productDiv span{
  color: mediumblue;
  text-transform: capitalize;

}






.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 45%;
}

.product-price {
  font-size: 18px;
  color: green;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}