.mainProductsDiv{

    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
   
   
}
.mainProductsDiv :hover
{
    background-color: rgb(172, 181, 206);
}
.productDiv{
    width: 20%;

border: 1px solid black;
background-color: rgb(231, 243, 243);
margin-block-end: 30px;
border-radius: 2px;


}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(87, 86, 192);
    margin-top: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .add_to_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(128, 194, 241);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
     margin-block-end: 20px;
    cursor: pointer;
    

}


h2{
   /* display: flex;
   justify-content: center;
   align-items: center; */
   text-transform: uppercase;
   margin-left: 5px;
   margin-right: 10px;
   word-wrap: break-word;
  
   
}
p{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    text-transform: capitalize;
    word-wrap: break-word;
      
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   /* margin-top: px; */
   
}