:root {
    --buttonColor: #008080;
    --inputTypeColor: #f8f8f8;
  }
body{
    margin: 0;
    padding: 0;
}
.lolo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.registerMain{

box-shadow: 0px 0px 10px 0px black;
width: 250px;
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
border-radius: 7px;
/* height: 360px; */
}

.registerForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    width: 90%;
    
}

.registerForm input{
    border: none;
    outline: none;
    height: 25px;
    background: var(--inputTypeColor);
    border-radius: 3px;
    width: 100%;
    border-radius: 5px;
}

.registerForm button{
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 7px;
    background-color: var(--buttonColor);
    color: white;
    cursor: pointer;
}

.registerButton{
    margin-top: 10px;
}


.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}