:root {
    --buttonColor: black;
    --inputTypeColor: #f8f8f8;
  }
body{
    margin: 0;
    padding: 0;
}
.lolo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.registerMain{

box-shadow: 0px 0px 10px 0px black;
width: 250px;
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
border-radius: 7px;
height: 350px;
}

.registerForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    width: 90%;
    
}

.registerForm input{
    border: none;
    outline: none;
    height: 25px;
    background: var(--inputTypeColor);
    border-radius: 3px;
    width: 100%;
    border-radius: 5px;
}

.registerForm button{
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 7px;
    background-color: var(--buttonColor);
    color: white;
    cursor: pointer;
}



